 /* Add the following styles or update existing styles */
        
 .card-container {
    display: flex;
    overflow-x: auto;
    padding: 10px; /* Add padding for better visual appearance */
}

.card {
    width: 95%;
    height: 85%;
    border-radius: 20px;
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 10px;
}

.card-title {
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.card-text {
    font-size: 0.9rem;
    margin-bottom: 4px;
}
#reset_button{
    margin-left: 0.5rem;
}



.media-card {
    position: relative;
}

.media-card .info-container {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    box-sizing: border-box;
}

.media-card .card-title,
.media-card .card-text {
    margin-bottom: 4px;
}

.media-card .btn {
    margin-top: 8px;
    margin-right: 8px;
    float: right;
}


.media-card .btn:last-child {
    margin-right: 0;
}




.card {
    width: 15rem;
    height: auto;
    margin-right: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    flex-shrink: 0;
    position: relative;
  }
  
  .card-img-top {
    width: 100%;
    height: 100%;
  }
  
  .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .card-body {
    position: relative;
    overflow: hidden;
  }
  
  .card-title {
    font-size: 18px;
    text-align: left;
  }
  
  .card-text {
    font-size: 16px;
    color: #cccccc;
    margin: 10px 0;
    line-height: 23px;
  }
  
  .btn {
    cursor: pointer;
  }
  

/* CSS */
.button-57 {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}


