/*import variables variavles.css*/
@import url(./variable.css);

/*import reset reset.css*/
@import url(./reset.css);

/*Reutilizar style pagina*/
header, nav {background: var(--rich-black-fogra-29);
}

.navbar, .banner, .movies, .category{
    padding: 0 var(--px);
}

.section-heading{
    font-size: var(--section-heading);
    font-weight: var(--fw-5);
    margin-bottom: 60px;
}


/*main container*/
.container{
    max-width: 1440px;
    margin: auto;
}


/*navbar style*/
.navbar{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*ecra de telemovel botao para navbar*/
.navbar-menu-btn{
    display: none;

}

/*estilo navegacao da navbar*/
nav{
    margin-right: 200px;
}

.navbar-nav{
    display: flex;
}

.navbar-nav li:not(:last-child){
    margin-right: 60px;
}

.navbar-link{
    font-size: var(--fs-sm);
    font-weight: var(--fw-5);
}

.navbar-link:hover{
    color: var(--light-azure);
}

/*indicador de live*/

.indicator{
    position: relative;
}

.indicator::after{
    content: '';
    background: var(--live-indicator);
    position: absolute;
    top: calc(50% - 1px);
    right: -15px;
    width: 4px;
    height: 4px;
    box-shadow: 0 0 0 2px var(--live-indicator-shadow);
    border-radius: 5px;
}

/*formulario navbar e estilo botao*/
.navbar-actions{
    display: flex;
    align-items: center;
}

.navbar-form{
    position: relative;
    margin-right: 50px;
}

.navbar-form-search{
    background: var(--oxford-blue);
    width: 100%;
    padding: 12px 20px;
    border-radius: 15px;
    color: var(--off-white);
    font-size: var(--fs-sm);
    font-weight: var(--fw-5);
}

.navbar-form-btn{
    background: var(--oxford-blue);
    position: absolute;
    top: calc(50% - 10px);
    right: 10px;
}

.navbar-form-btn ion-icon, 
.navbar-search-btn ion-icon{
    font-size: 20px;
    color: var(--light-azure);
    --ionicon-stroke-width: 50px;
}

.navbar-form-btn:hover ion-icon,
.navbar-form-search::placeholder ion-icon{
    color: var(--off-white);
}

.navbar-form-close, .navbar-search-btn{
    display: none;
}

.navbar-signin{
    display: flex;
    align-items: center;
    font-size: var(--fs-sm);
}

.navbar-signin ion-icon{
    font-size: 22px;
    color: var(--light-azure);
    margin-left: 5px;
    --ionicon-stroke-width: 30px;
}

.navbar-signin:hover span{
    color: var(--light-azure);
}

/*Banner site*/
.banner{
    margin-bottom: 60px;
}

.banner-card{
    position: relative;
    height: 600px;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: rgba(255, 0, 0, 0.4) 5px 5px, rgba(255, 0, 0, 0.3) 10px 10px, rgba(255, 0, 0, 0.2) 15px 15px, rgba(255, 0, 0, 0.1) 20px 20px, rgba(255, 0, 0, 0.05) 25px 25px;
}
.text-shadow{
    text-shadow: 1px 2px #000000;
    font-weight: bolder;
}
.banner-img {
    object-position: top;
}
.card-content{
    background-color: rgba(0,0,0,.5);
    margin: 1.5rem;
    padding: 1.5rem;
    border-radius: 25px;
}


.banner-card:hover .banner-img{
    transform: scale(1.1);
}

/*posicao da inf do filme/show*/
.banner-card .card-content{
    position: absolute;
    right: 80px;
    bottom: 60px;
    left: 80px;
}

.banner-card .card-info{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.banner-card .card-info div{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

/*tamanho das infs e cor dos icones*/
.banner-card .card-info ion-icon{
    font-size: 20px;
    color: var(--azure);
    margin-right: 5px;
}

.banner-card .card-info span{
    font-weight: var(--fw-6)    ;
}

/*fundo e label do 4K*/
.banner-card .card-info .quality{
    background: var(--azure);
    padding: 2px 5px;
    border-radius: 5px;
    font-weight: var(--fw-7);
}

/*titulo do banner*/
.banner-card .card-title{
    font-size: 10px;
    color: var(--white);
    text-shadow: 2px 0 2px #0007;
    font-size: 2rem;
    
}

/*movies section*/
.movies{
    margin-bottom: 60px;
}

/*estilo do filter-bar*/
.filter-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--oxford-blue);
    padding: 20px 30px;
    border-radius: 20px;
    margin-bottom: 30px;
    border-color: var(--light-azure);
}

.filter-bar select {
    color: var(--white);
    font-size: var(--fs-sm);
    margin-right: 15px;
    cursor: pointer;
    border: 1px solid transparent; /* Adicione uma borda transparente */
    border-radius: 0; 
    background: none; 
    appearance: none; /* Remova estilos padrão do navegador */
    -webkit-appearance: none; /* Remova estilos específicos do WebKit (Safari, Chrome) */
    -moz-appearance: none; /* Remova estilos específicos do Mozilla Firefox */
    outline: none; /* Remova a borda de foco */
}


.filter-bar option{
    background: var(--oxford-blue);
}

.filter-radios{
    position: relative;
    background: var(--rich-black-fogra-29);
    padding: 10px;
    border-radius: 15px;
}

.filter-radios input{
    display: none;
}

.filter-radios label{
    position: relative;
    margin: 0 10px;
    font-size: var(--fs-sm);
    user-select: none;
    cursor: pointer;
    z-index: 10;
}

.filter-radios input:checked + label, 
.filter-radios label:hover {
color: var(--light-azure);
}

input ~ .checked-radio-bg{
    /*variavel para mudar tamanho e posicao, baseado na escolha da opcao (top rated,newest or popular)*/
    --width: 85px;
    --left: 5px;

    background: var(--oxford-blue);
    position: absolute;
    top: 5px;
    left: var(--left);
    bottom: 5px;
    width: var(--width);
    border-radius: 10px;
}

#popular:checked ~ .checked-radio-bg{
    /*variavel para mudar tamanho e posicao, baseado na escolha da opcao (top rated,newest or popular)*/
    --width: 73px;
    --left: 84px;

    
}

#newest:checked ~ .checked-radio-bg{
 /*variavel para mudar tamanho e posicao, baseado na escolha da opcao (top rated,newest or popular)*/
 --width: 81px;
 --left: 150px;

}

/*movies grid*/
.movies-grid {
    display: flex;
    gap: 30px;
    overflow-x: auto; /* Enable horizontal scrolling if the content overflows */
    margin-bottom: 60px;
    scroll-snap-type: x mandatory; /* Enable scroll snapping for better visual experience */
}

.movie-card {
    --scale: 0.8;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 100%; /* Adjust the width as needed */
    max-width: 200px; /* Set a maximum width if needed */
    margin: 0 auto;
    flex: 0 0 auto; /* Ensure each movie card doesn't shrink or grow */
    scroll-snap-align: start; /* Snap each movie card to the start of the container */
}

/* Style for search result cards */
.search-result-card {
    --scale: 0.8;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 200px;
    margin: 0 15px; /* Adjust margin as needed */
    flex: 0 0 auto;
    scroll-snap-align: start;
}

/* Style for the container of search result cards */
.search-results{
    display: flex;
    gap: 15px; /* Adjust gap as needed */
    overflow-x: auto;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
}





.movie-card .card-head{
    position: relative;
    height: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
    overflow: hidden;
}

.movie-card:hover .card-img{
    transform: scale(1.1);
}

.movie-card .card-overlay{
    position: absolute;
    inset: 0;
    opacity: 0;
    backdrop-filter: blur(5px);
}

.movie-card:hover .card-overlay{
    opacity: 1;
}

.movie-card .bookmark,
.movie-card .rating{
    position: absolute;
    top: 15px;
    padding: 6px;
    border-radius: 10px;
    color: var(--light-azure);
    transform: scale(var(--scale));
}

.movie-card .bookmark{
    background: var(--oxford-blue);
    left: 15px;
}

.movie-card .bookmark:hover{
    color: var(--yellow);
}

.movie-card .bookmark:hover {color: var(--yellow);}

.movie-card .rating{
    display: flex;
    align-items: center;
    right: 15px;
    background: var(--oxford-blue-50);
}

.movie-card .rating span{
    color: var(--white);
    font-size: 13px;
    font-weight: var(--fw-5);
    margin-left: 5px;
}

.movie-card ion-icon{
    font-size: 16px;
    display: block;
    --ionicon-stroke-width: 50px;
}

.movie-card .play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(var(--scale));
}

.movie-card .play ion-icon{
    font-size: 60px;
    --ionicon-stroke-width: 20px;
}

.movie-card:hover :is(.bookmark, .rating, .play){
    --scale: 1;
}

.movie-card .card-title{
    font-size: var(--fs-md);
    font-weight: var(--fw-5);
    margin-bottom: 5px;
}

.movie-card:hover .card-title{
    color: var(--light-azure);
}

.movie-card .card-info{
    display: flex;
    font-size: var(--fs-x-sm);
    font-weight: var(--fw-5);
}

.movie-card .genre{
    margin-right: 8px;
}

.load-more{
   background: var(--oxford-blue); 
   display: block;
   padding: 20px 50px;
   margin: auto;
   font-size: var(--fs-sm);
   font-weight: var(--fw-5);
   border-radius: 15px;
   color: var(--white);
}

.load-more:hover{
    background: var(--light-azure);
}

.category{
    margin-bottom: 60px;
}

.category-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.category-card{
    position: relative;
    height: 150px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}


.category-card::after{
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, transparent 20%, #000a);
}

.category-card:hover .card-img{
    transform: scale(1.1);
}

.category-card .name,
.category-card .total{
    position: absolute;
    bottom: 20px;
    color: var(--white);
    z-index: 20;
}

.category-card .name{
    left: 20px;
    font-size: 20px;
}

.category-card .total{
    right: 20px;
    font-size: 18px;
    background: var(--oxford-blue-50);
    padding: 5px 8px;
    border-radius: 8px;
}

.category-card:hover .name{
    color: var(--light-azure);
}

/*footer sections*/


    
footer{
    background: var(--rich-black-fogra-30);
    padding: 80px var(--px) 40px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid var(--oxford-blue-50);
    padding-bottom: 80px;
}

.footer-brand{
    max-width: 250px;
    margin-right: 130px;
}

.footer-logo{
    width: 100px;
    margin-right: 130px;
    margin-bottom: 20px;
}


.slogan{
    font-size: var(--fs-sm);
    line-height: 20px;
    margin-bottom: 20px;
}

.social-link a{
    display: inline-block;
}

.social-link ion-icon{
    font-size: 20px;
    margin-right: 20px;
}

.footer-links{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    align-items: flex-end;
}

.link-heading{
    margin-bottom: 20px;
}

.link-item{
    font-size: var(--fs-sm);
}

ul .link-item:not(:last-child){
    margin-bottom: 10px;
}

.link-item:hover a{
    color: var(--light-azure);
}

.footer-copyright {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding-top: 40px;
}

.footer-copyright p,
.wrapper a {
    font-size: var(--fs-sm);
    margin-bottom: 10px; 
}

.wrapper a:not(:last-child) {
    margin-right: 30px;
}


.wrapper a:hover {
    color: var(--light-azure);
}

.wrapper{
    display: flex;
}

.wrapper a:not(:last-child){
margin-right: 30px;
}
