/*remover default padding and margin*/

*{
    margin: 0;
    padding: 0;
    transition: all 0.5s ease;
}

*, *::before, *::after { box-sizing: border-box;}

/*tipo de letra site default*/
html {font-family: var(--ff-inter);}

h1, h2, h3, h4, h5, h6 {color: var(--white)}

body{
    background: var(--rich-black-fogra-29);
    color: var(--off-white);
    -webkit-font-smoothing: antialiased;
}

/*default img*/
img{
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
}

/*remover default form*/

input, button, select {
    font: inherit;
    background: none;
    border: none;
    outline: none;
}

/*default button*/

button{
    color: var(--off-white);
    cursor: pointer;

}

/*retirar pontos de li*/
li{ list-style: none;}

/*alterar link*/
a{
    text-decoration: none;
    display: block;
    color: var(--off-white);
}

/*alterar scroll*/
::-webkit-scrollbar{
    background: transparent;
    border-left: 1px solid var(--oxford-blue);
}

::-webkit-scrollbar-thumb{
    background: var(--light-azure);
    border-radius: 5em;
    border: 3px solid var(--rich-black-fogra-29);
}


